.Enlinea {
    display: inline;
    margin-right: 100px;
  }
  
  .Enlinea a {
    text-decoration: none;
    color: white;
  }
  
  .menu {
    background-color: black;
  }
  
ul{
    text-align: right;
}

img{
    width: 40px;
}