.Enlinea {
    display: inline;
    margin-right: 100px;
}
  
.Enlinea a {
    text-decoration: none;
    color: white;
}
  
.menu {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
  
ul{
    text-align: right;
}

img{
    width: 40px;
}