.Card{
    display: flex;
    flex-direction: row;
}

.Img{
    width: 500px;
}

.Body{
display: flex;
flex-direction: column;
}

.contenedor{
    display: flex;
    flex-direction: row;
}

.botonSeguir{
    margin-right: 50px;
}